/* Slider principal no index
   ========================================================================== */
#slider-home {
    //height: 100%;

    //@height-banner: 100%;
    @height-banner: 510px;
    #wrap-slider {
        position: relative;
        width: 100%;
        //margin-top: -120px;
        //padding-top: 120px;



        #slider {
            width: 100%;
            //height: 100%;
            overflow: hidden !important;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.3);

            .cycle-slide {
                position: relative;
                display: block;
                width: 100%;
                overflow: hidden;
                //height: @height-banner;

                    a {
                      display: block;
                      width: 100%;
                      height: 100%;
                    }

                    img {
                      width: 100%;
                    }
            }
        }

        .arrow {
            position: absolute;
            z-index: 110;
            padding: 10px 30px;
            top: 50%;
            margin-top: -95/2px;
            font-size: 50px;
            color: white;

            &.left { left: 50px; }
            &.right { right: 50px; }
        }
    }
}


@media (max-width: 768px) {
   #slider-home {
        #wrap-slider {
            .arrow {
                &.left { left: 10px; }
                &.right { right: 10px; }
            }
        }
    }
}
