/* Slider da pagina institucional
   ========================================================================== */


@height-banner1: 380px;
#slider-institucional {
    position: relative;
    width: 100%;
    height: @height-banner1;
    
   

    #slider1 {
        position: absolute !important;
        z-index: 1;
        width: 100%;
        overflow: hidden !important;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.3);

        .cycle-slide {
            position: relative;
            display: block;
            width: 100%;
            height: @height-banner1;

            img {
                .absolute;
                top: 0;
                left: 50%;
                max-width: none;
                margin-left: -400px;
            }
        }
    }


    .arrow {
        position: absolute;
        line-height: 1;
        display: table;
        height: 65px;
        top: 50%;
        width: 65px;
        font-size: 60px;
        color: white;
        background-color: @blue-light;
        text-align: center;
        padding: 0px 20px;
        z-index: 3;

        .fa {
            line-height: 0;
            display: table-cell;
            vertical-align: middle;
        }

        &.left { left: -32px; }
        &.right { right: -32px; }  
    }
}


@media (max-width: 768px){
    #slider-institucional {

    }
}