@import "fontface";

@font-title: 'Century-Gothic';
// @font-alt: Arial, sans-serif;
@font-text: 'Kamerik';


/* Headers
   ========================================================================== */

p {
    font-family: @font-title, Arial, sans-serif;
}

h1, h2, h3, h4, h4, h6 { margin: 0; }

h1, h2, h3 {
    font-family: @font-title, Arial, sans-serif;
    color: #000;
    .uppercase;
    font-weight: bold;
}
h1 {
    margin: 10px 0 20px 0;
    font-size: 30px;
}
h2 {
    font-size: 36px;
     margin: 10px 0 20px 0;
}
h3 { font-size: 24px; }


/* Links
   ========================================================================== */
a,
a:visited,
a:active,
a:hover {
    text-decoration: none !important;
    .transition(all, .2s, ease-in);
}
