@import "helpers";
@import "component";
@import "pages";


/* ==========================================================================
   BOOTSTRAP MEASURES
   ==========================================================================
   Phones                    < 768px
   Small Devices (Tablets)   >= 768px
   Medium Devices (Desktops) >= 992px
   Large Devices (Desktops)  >= 1200px
   ========================================================================== */

/* ==========================================================================
   STRUCTURE E APPEARANCE
   ========================================================================== */

/* Wrappers
   ========================================================================== */

html, body {
    //height: 100%
}

body {
    font-size: 15px;
    overflow-x: hidden;
    background-color: @background;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .relative;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
