#area-fornecedor {
	.container {
		form {
			.submit {
				.btn-rounded;
				.color-light;

				margin: auto;
				display: block;
				width: 300px;
				max-width: 100%;
				float: none !important;
			}
		}
	}
}
