#pedido-eletronico {
	#btns {
		margin-top: 35px;

		.col {

			input { width: 100%; }
			#manual {
				background-color: @background;
				color: @blue-light;
				border: 1px solid @blue-light;


				i {
					margin-right: 5px;
					font-size: 15px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	#pedido-eletronico {
		#btns {
			.col {
				.btn {height: 45px;}
			}
		}
	}
}
